.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-gap: 5px;
    justify-items: center;
    margin-top: 20px;
}

.pelicula{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 450px;
}

.like{
    max-width: 20px;
    max-height: 20px;
}

.cartel{
    max-width: 300px;
    min-width: 300px;
    max-height: 450px;
    min-height: 450px;
}