<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Votación de Películas</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>¡Vota por tu película favorita!</h1>
    <form class="container" th:action="@{/votar}" method="post">
            <div class="pelicula" th:each="pelicula : ${peliculas}">
                <h3 th:text="${pelicula.nombre}"></h3>
                <img class="cartel" th:src="@{${pelicula.getImagen()}}" th:alt="${pelicula.nombre}" />
                <p><img class="like" th:src="@{/img/util/heart.png}"/> <span th:text="${pelicula.votos.size()}"></span></p>
                <label>
                    Voto:
                    <input type="radio" name="idPelicula" required="required" th:value="${pelicula.id}"/>
                </label>
            </div>
        <div class="votar">
            <label>
                Email:
                <input type="text" name="email" required="required"/>
            </label>
            <button type="submit">Enviar Voto</button>
        </div>
        <div th:if="${mensajeError}" class="alert alert-danger">
            <p th:text="${mensajeError}"></p>
        </div>
    </form>

</body>
</html>
