<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Votación de Películas</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>¡Vota por tu película favorita!</h1>
<div class="container">
    <div class="pelicula" th:each="pelicula : ${peliculas}">
        <h3 th:text="${pelicula.nombre}"></h3>
        <a th:href="@{/votar(nombrePelicula=${pelicula.nombre})}">
            <img class="cartel" th:src="@{${pelicula.getImagen()}}" th:alt="${pelicula.nombre}" />
        </a>
        <p><img class="like" th:src="@{/img/util/heart.png}"/> <span th:text="${pelicula.votos.size()}"></span></p>
    </div>
</div>
</body>
</html>
